<h1>Create a new task</h1>

<form action="/tasks" method="post">
  <label for="task_description">Description</label>
  <input id="task_description" name="description" type="text">

  <button>Create Task</button>
</form>
